/* styles.css */

body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 100%; /* Ocupa toda a largura por padrão */
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* Estilos para telas menores que 600 pixels */
@media only screen and (max-width: 600px) {
    li {
        width: 100%; /* Empilha os itens em telas menores */
    }
}

/* Estilos para botões */
a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #754caf;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
}

a:hover {
    background-color: #45a049;
}

/* Estilos específicos para a página de edição */
#editar-produto {
    text-align: center;
}

#editar-produto form {
    display: inline-block;
    max-width: 400px;
    width: 100%;
}

#editar-produto img {
    max-width: 100%;
    height: auto;
}

#editar-produto label {
    display: block;
    margin: 10px 0;
}

#editar-produto input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Estilos específicos para a página de adicionar produto */
#adicionar-produto {
    text-align: center;
}

#adicionar-produto form {
    display: inline-block;
    max-width: 400px;
    width: 100%;
}
